.list-style
  .row.justify-content-center
    .col-md-4.col-sm-5.pa-md-6
      .carousel
        .detail-carousel#detail_carousel
          - var n = 0
          while n < 6
            .image.detail-img(data-index=n++)
              |
              |
              a.waves-effect(href=imgAPI.photo[0])
                .figure
                  |
                  |
                  img.image-detail(src=imgAPI.photo[0] height='200px' alt='detail-image')/
                  |
                  |
                  i.material-icons.zoom-icon zoom_in
                  |
                  |
              |
              |
    .col-lg-6.col-sm-7.pa-6.px-md-10
      .text
        h4.use-text-title2
          span.use-text-subtitle2 Vivamus sit amet
          |  The Lorem Ipsum Dolor Sit Amet
        .property
          .star
            - var star = 0
            white star < 5
              i.material-icon.star-icon(data-index=star++) star
          | 5.0
          span.divider
          | 213 Sales
        article.desc
          h6.use-text-paragraph
            | Maecenas nisl libero, tincidunt id odio id, feugiat vulputate quam. Vestibulum feugiat rhoncus metus.
        .btn-area
          |
          |
          a.btn-flat.text-btn(href='#')
            | #{$t.common.list_whislist}
          |
          |
          a.btn.button.primary(href='#')
            | #{$t.common.list_cart}
          |
          |
