mixin paper(title, icon, subtitle='', color=false)
  .card.paper(class=color ? 'color' : '')
    header
      .material-icons.icon(color=color ? 'white' : '')
        | #{icon}
      .card-content
        span.card-title #{title}
        p #{subtitle}
      .text
    .content
      block
