mixin item(avatar=assets+'/images/avatars/pp_boy4.svg', name, date, comment, last=false)
  .collection.comment-list
    .collection-item.avatar
      img(src=avatar)
      .title.font-weight-bold #{name}
      p
        | #{date}
        br
        | #{comment}
    if last
      hr.divider
